body {
  display: flex;
  font-family: 'Lexend Deca', sans-serif;
  width: 100%;
  height: 100%; 
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 15vw;
  height: 100vh;
  padding: 15px;
  font-family: 'Lexend Deca', sans-serif;
}


nav > a {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  
}

a:link {
  margin: 10px auto;
  color: rgb(5, 107, 121);
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  background-color: white;
  padding: 1em;
  border: 1px solid goldenrod;
}

a:visited {
  color:goldenrod;
}

.logo {
  max-width: 5em;
  max-height: 5em;
  align-self: flex-start;
  justify-content: center;
}


main {
  display: flex;
  flex-direction: column;
  background-image: url(./src/img/movingboxes.gif);
  background-repeat: repeat;
  background-size: 100vh;
}

.has-border {
  border-radius: 25px;
  border: 2px solid darkblue;
  background: none;
  padding: 15px 20px 20px 20px;
  margin: 20px;
}

#profile-pic{
  width: 40%;
  border-radius: 50%;
  margin-left: 25%;
}

.name {
  color:white;
  margin: 5% auto;
  padding: auto;
  border-bottom: 2px solid skyblue;
  font-family: 'Monoton', cursive;
  font-size: 35px;
  color: goldenrod;
}

h2 {
  margin: 3%;
  font-size: 25px;
  color: #1E90FF;
}

footer{
background-color: black;
text-orientation: mixed;
writing-mode: vertical-rl;
}