body {
  display: flex;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 5em;
  padding: 15px;
}


nav > a {
  display: flex;
  padding: 20px;
  justify-content: center;
  
}

a:link {
  margin: 10px auto;
  color: rgb(5, 107, 121);
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
  padding: 1em;
  border: 1px solid goldenrod;
}

a:visited {
  color:goldenrod;
}

.logo {
  max-width: 4em;
  max-height: 5em;
  align-self: flex-start;
  justify-content: center;
  padding: 2px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  background-color: rgb(241, 209, 170);
}

h1, h3 {
  font-family: 'Nixie One', cursive;
}

p {
  font-family: 'Arsenal', sans-serif;
}

.titles p {
  padding: 5px;
}


kbd {
  padding: 4px;
  margin: 3px;
  display: inline-block;
  /* box-shadow: 1px 1px 1px rgb(172, 171, 171); */
}

kbd:nth-child(1) {
  background-color: #B8860B;
}

kbd:nth-child(3) {
  background-color: #1E90FF;
}


kbd:nth-child(1n+4) {
  background-color: #B8860B;
}

kbd:nth-child(3n+4) {
  background-color: #1E90FF;
}


kbd:nth-child(5n+4) {
  background-color: #191970;
  color: white;
}

kbd:nth-child(2n+6) {
  background-color: #01AD6B;
  color: black;
}


kbd:nth-child(4n+2) {
  background-color: #800000;
  color: white;
}


blockquote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

blockquote p{
  font-size: 20px;
  font-family: 'Arsenal', sans-serif;
}

blockquote footer {
  font-family: 'Nixie One', cursive;
  font-size: 15px;
}

blockquote a:link {
  font-family: 'Nixie One', cursive;
  font-size: 15px;
}

.friesTable {
  font-size: 25px;
  font-family: 'Arsenal', sans-serif;
  border: 1 solid rgb(226, 238, 238);
}

tr {
  font-size: 15px;
  font-family: 'Arsenal', sans-serif;
  box-shadow: 1px 1px 1px 1px goldenrod;
}

.squares {
  font-size: 10px;
  letter-spacing: 2px;
}

.footer{
  background-color: black;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  width: 3em;
  padding: 5px 10px;
  display: flex;
  }
