body {
    background-color: blue;
}

main.main-container {
    display: grid;
    grid-template-columns: 10% repeat(2, 1fr) 10%;
    grid-template-rows: 20% repeat(3, 1fr) 10%;
}

.top {
    border: 1px solid brown;
    background: cornflowerblue;
    grid-column: 2/4;
    grid-row: 2/3;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); */
}

h1 {
    grid-column: 2/3;
    grid-row: 1/3;
}

#time {
    background: 1px solid fuchsia;
    background-color: greenyellow;
    grid-column: 2/4;
    grid-row: 3;
}

#toDo {
    background: 1px solid honeydew;
    background-color: indigo;
    color: white;
    grid-column: 3/4;
    grid-row: 3/5;
}

#calculator {
    background: 1px solid springgreen;
    background-color: violet;
    grid-column: 2/3;
    grid-row: 4/5;
}