/* color palette 

Background: #483D8B - darkslateblue

Sidebar/Searchbar: #1e0753

Menu icon and icon: #6A5ACD - slateblue


Buttons: #8e9ee2


*/

body {
  background:#483D8B;
  color: #e6eeff;
  font-family: 'Raleway', sans-serif;
}