/* color palette 

Background: #483D8B - darkslateblue

Sidebar/Searchbar: #1e0753

Menu icon and icon: #6A5ACD - slateblue


Buttons: #8e9ee2


*/

body {
  background:#483D8B;
  color: #e6eeff;
  font-family: 'Raleway', sans-serif;
}

main {
  display: grid;
  grid-template-columns: 10% repeat(3, 30%);
  grid-template-rows: 10% repeat(4, 18%) ;
}

.imgNav {
  color: #e6eeff;
  padding: 15px;
  display: grid;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 7;
}

#img1 {
  display: inline-block;
  position: absolute;
  color: #e6eeff;
  background:#8e9ee2;
  margin: 0 auto;
}

.icon {
  color: #e6eeff;
  margin-top: 20px auto;
}

.searchBar {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

button {
  background-color: #8e9ee2;
  color: #e6eeff;
  border: none;
  padding: .5em;
  border-radius: 15% auto;
}