body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.top .nasa {
  background-color: black;
  background-image: url(nasaImage.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  color: grey;
  position: absolute;
} */

main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1fr 1fr 1fr;
  margin: 0 auto;
}

.social {
  background-color: grey;
  border: 1px solid red;
}

.office {
  background-color: grey;
  border: 1px solid orange;
}

.contact {
  background-color: grey;
  border: 1px solid green;
}
