body {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

body:nth-child(1){
  background-image: url(nasaImage.jpg);
  background-size: 50% 50% 50% 50%;
  background-repeat: no-repeat;
}

.flexbox {
  display: flex;
  flex-direction: column;
}