body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg);
  background-repeat: no-repeat;
  background-size: 1600px 1000px;
  width: 100vw;
  height: 100vh;
}

.logo {
  width: 105px;
  height: 105px;
  margin: 8px;
  padding: auto;
  align-self: auto;
}

header {
  display: grid;
  grid-template-columns: 20% 75%;
  width: 100%;
  height: 17%;
}

main {
  height: 95%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  background-color: rgb(143, 94, 235);
}

nav > a {
  margin: 2% 1% 3% 0;
  height: 15%;
  width: 25%;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-radius: 25px 5px 25px 5px ;
  background: transparent;
  padding: 20px 0 20px 14px;
  text-align: initial;
  border: 2px solid skyblue;
  color: rgb(224, 152, 123)
}

.has-border {
  border-radius: 25px;
  border: 2px solid darkblue;
  background: none;
  padding: 15px 20px 20px 20px;
  margin: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 99%;
  height: 78%;
  padding: 20px;
  background-color: slateblue;
}

#profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 15% auto;
  grid-column: 2/3;
  align-items: center;
}

h1 {
  color:white;
  grid-column: 2/3;
  margin: 10% auto;
  padding: auto;
  border-bottom: 2px solid skyblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
  color: seashell;
}

h2 {
  grid-column: 2/3;
  margin: 7% auto;
  font-style: italic;
  font-size: 25px;
  color: rgb(224, 152, 123)
}

.small-text {
  grid-column: 2/3;
  color: white;
  font-size: 10px;
  margin: 3% auto;
}

button {
  width: 100%;
  height: 65%;
  grid-column: 2/3;
  margin: auto;
  padding: 10% -5% 2% -11%;
  letter-spacing: 10px;
  font-style: italic;
  color: white;
  font-size: 30px;
  text-align: center;
  border-radius: 35px;
  border: 2px solid skyblue; 
  background: transparent;
  font-family: Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

div {
  position: absolute;
  margin: auto;
  top: 25%; bottom: 0;
}

.circle1 {
  display: block;
  background: turquoise;
  opacity: 0.5;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0;
  padding: 30%
}

.circle2 {
  display: block;
  background: steelblue;
  opacity: 0.8;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 20px;
  padding: 20px
}

.circle3 {
  display: block;
  background: salmon;
  opacity: 0.9;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 1px;
  padding: 15px;  
}

.circle4 {
  display: block;
  background: gold;
  opacity: 0.8;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin: 10px;
  padding: 15px;  
}