body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 177, 103);
  font-family: 'Lora', serif;
}

#whole {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2%;
  width: 90px;
  border: 2px solid black;
}

.display {
  margin: 10%;
  padding-right: 5%;
  display: flex;
  flex-wrap: wrap;
  grid-row: 1 / 2;
  border: 2px solid black;
  width: 80%;
  height: 15%;
  background-color: rgb(189, 189, 189);
  color: black;
  font-size: 40px;
  justify-content: end;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 3%;
}

.group1 {
  grid-row: 2 / 3;
}

.group2 {
  grid-row: 3 /4;
}

.group3 {
  grid-row: 4 / 5;
}

.group4 {
  grid-row: 5 / 6;
}

button {
  display: inline-block;
  border: 2px solid black;
  background: rgb(238, 123, 16);
  width: 3em;
  border-radius: 20px;
  margin: 15px;
}