body {
  display: flex;
  width: 100%;
  height: 100%; 
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 5em;
  padding: 15px;
}


nav > a {
  display: flex;
  padding: 20px;
  justify-content: center;
  
}

a:link {
  margin: 10px auto;
  color: rgb(5, 107, 121);
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
  padding: 1em;
  border: 1px solid goldenrod;
}

a:visited {
  color:goldenrod;
}

.logo {
  max-width: 4em;
  max-height: 5em;
  align-self: flex-start;
  justify-content: center;
  padding: 2px;
}

main {
  display: flex;
  flex-direction: column;
}

.content-box {
  padding: 15px;
  margin: 5px;
}

.background {
  display: flex;
  flex-direction: column;
  background-image: url(../img/SaguaroDesert.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
}

.now {
  display: flex;
  flex-direction: column;
  background-image: url(../img/downtown.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
}

.hobbies {
  display: flex;
  flex-direction: column;
  background-image: url(../img/doubleGruff.jpg);
  background-repeat: no-repeat;
  background-size: 100vw; 
}