body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(../img/wall.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.bigSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% repeat(2, 20%) 10%;
  font-family: 'Sacramento', cursive;
  color:rgb(255, 185, 9);
  border: 3px solid rgb(72, 75, 72);
}

.greeting {
  grid-row: 1 /2;
  grid-column: 1 / 3;
  font-size: 65px;
  padding: 15%;
  justify-self: end;
}

.date {
  grid-row: 2 /3;
  grid-column: 1 / 2;
  font-size: 45px;
  padding: 15%;
  color: rgb(72, 75, 72);
}

.icons {
  font-size: 100px;
  justify-self: center;
}

.clock {
  grid-row: 2 / 3;
  grid-column: 2/ 3;
}

.calendar {
  grid-row: 3 / 4;
  grid-column: 1/ 2;
}

.calculator {
  grid-row: 3 / 4;
  grid-column: 2/ 3;
}

.welcomeQuote {
  grid-row: 4 / 5;
  grid-column: 1/ 3;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  font-weight: bold;
  padding: 10%;
  justify-self: end;
  color: rgb(72, 75, 72);
}